In [ ]:
import pandas as pd
import os
import json
import zipfile
import matplotlib.pyplot as plt
import numpy as np

kaggle_dir = os.path.expanduser("~/.kaggle")
os.makedirs(kaggle_dir, exist_ok=True)
kaggle_api_token = "enter_token" # Assuming this is the key, excluding the 'KGAT_' prefix
kaggle_username = "raunaqmittal2004"

# Create kaggle.json
kaggle_dir = os.path.expanduser("~/.kaggle")
os.makedirs(kaggle_dir, exist_ok=True)

kaggle_json_path = os.path.join(kaggle_dir, "kaggle.json")
with open(kaggle_json_path, "w") as f:
    json.dump({"username": kaggle_username, "key": kaggle_api_token}, f)

# On Linux/Mac you can set permissions, skip on Windows
try:
    os.chmod(kaggle_json_path, 0o600)
except:
    pass

# Download dataset if not already extracted
if not os.path.exists("data.csv"):
    !pip install -q kaggle
    !kaggle datasets download -d shrutibhargava94/india-air-quality-data -p .
    
    with zipfile.ZipFile("india-air-quality-data.zip", "r") as zip_ref:
        zip_ref.extractall(".")

df = pd.read_csv("data.csv", encoding="latin-1")
df.head()

C:\Users\rauna\AppData\Local\Temp\ipykernel_12312\2844922548.py:40: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data.csv", encoding="latin-1")

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
0,150.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,1990-02-01
1,151.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,1990-02-01
2,152.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,1990-02-01
3,150.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,1990-03-01
4,151.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,1990-03-01

In [9]:
df.columns

Index(['stn_code', 'sampling_date', 'state', 'location', 'agency', 'type',
       'so2', 'no2', 'rspm', 'spm', 'location_monitoring_station', 'pm2_5',
       'date'],
      dtype='object')

In [10]:
x = df['no2'].dropna().values

In [11]:
r = 102303752
# Computing ar and br
print("r % 7 =", r % 7)
print("r % 5 =", r % 5)

ar = 0.05 * (r % 7)
br = 0.3 * (r % 5 + 1)

ar, br

r % 7 = 5
r % 5 = 2

(0.25, 0.8999999999999999)

In [ ]:
# Apply transformation
z = x + ar * np.sin(br * x)

In [ ]:
# Step 2
# Calculating mean
mu = np.mean(z)
# Calculating Lambda variance
variance = np.mean((z - mu) ** 2)
lambda_ = 1 / (2 * variance)
c = np.sqrt(lambda_ / np.pi)
print("mu =", mu)
print("lambda =", lambda_)
print("c =", c)

mu = 25.802708360471062
lambda = 0.0014590905290116402
c = 0.021550938267777164

In [14]:
z_shuffled = np.random.permutation(z)
mu2 = np.mean(z_shuffled)
var2 = np.mean((z_shuffled - mu2)**2)
lambda2 = 1 / (2 * var2)
c2 = np.sqrt(lambda2 / np.pi)
mu2, lambda2, c2

(np.float64(25.802708360471055),
 np.float64(0.0014590905290116402),
 np.float64(0.021550938267777164))